/* Box sizing for the grid layout */
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   box-sizing: border-box;
}
 

/* screen check for 1050px max width */
@media screen and (max-width: 1050px) {
   body {
        overflow: auto;
   }
   h1 {
	font-size: 90%;
   }
   h2 {
	font-size: 80%;
   }
   h3 {
        font-size: 60%;
   }
}


/* Applies to the whole grid */
.grid {
   margin: 0 auto;
   width: 100%;
}


/* Applies to each row */
.row {
   width: 100%;
   margin: 0 auto;
   display: flex; flex-wrap: wrap;
}


/* Applies to only Logo shown on the first row */
.logo {
   width: 16.66%;
}


/* Applies to the Logo image shown on the first row */
.logo-image {
   width: 100%;
}


/* Blank part in the first row */
.blank-space-first-row {
   width: 50%;
}


/* Applies to the titles shown in the first row */
.titles {
   border-left-width: 0px;
   border-right-width: 0px;
   width: 33.33%
}


/* Applies to the top title on the right side of the first row */
.titles h1 {
   margin-top: 0px;
   margin-bottom: 0px;
   text-align: right;
   width: 100%;
   font-family: "Raleway", sans-serif;
   color: #0033cc;
}


/* Applies to the bottom description on the right side of the first row */
.titles h2 {
   margin-top: 10px;
   margin-bottom: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   text-align: right;
   width: 100%;
   font-family: "Lato", sans-serif;
   color: #0033cc;
}


/* Applies to the line below the first row */
hr {
    display: block;
    margin: auto;
    border-style: inset;
    border-width: 3px;
    border-color: red;
    width: 100%;
}


/* Applies to the second row  (middle of the page)*/
.center-chicago-image {
    margin-top: 15px;
    margin-bottom: 15px;
    width:100%;
}


/* Applies to the image shown in the center of the page (second row) */
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* Applies to the third row */
.famous-attractions {
    width: 33.33%;
}


/* Applies to the text shown on the third row*/
.famous-attractions h2 {
    width: 100%;
    font-family: "Raleway", sans-serif;
    color: #d11919;
}


/* Applies to the emply space shown on the third row */
.blank-space-third-row {
    width: 66.68%;
}


/* Applies to the fourth row where the 3 attractions are shown */
.attraction{
    width: 33.33%;
    padding-left: 8px;
    padding-right: 8px;
}


/* Applies to the image shown for each attraction in the fourth row */
.attraction-image {
    display: block;
    margin: auto;
    width: 100%;
}


/* Applies to the 3 sub-titles and hyperlinks shown on the fifth row */
.sub-titles {
    width: 33.33%;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* Applies to each sub-tile in the fifth row */
.sub-title {
    width: 100%
 }


/* Applies to the text shown for each subtitle in the fifth row */
.sub-title h2 {
    font-family: "Lato", sans-serif;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    color: #0033cc;
}


/* Applies to each hyperlink in the fifth row */
.hyperlink {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}


/* Applies to the hyperlink text shown in the fifth row */
.hyperlink h3 {
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Lato", sans-serif;
    text-align: center;
    width: 100%;
    color: #0033cc;
}

/* Added to have URLs wrap on Nexus 4 and Nexus 5 */
a {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
}